body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0px 0px 0px 0px;
}

.header {
    background-color: #ffe996;
    font-size: 5vw;

    margin-top: 20px;

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.em {
    font-weight: bold;
}

.history {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: #616161;
}

.additional {
    font-size: 0.7em;
}
